body {
    text-align: center;
    background-color: green;
}
header{
    
    color: white;
}
main{
    background-color: rgb(170, 209, 198);
}

.contenedor {
    border: 5px solid green; 
    border-radius: 10px;
    padding: 10px;
    margin: 10px; 

  }
form{
    grid-area: form;
}
#botones{
    grid-area: botones;
}
#contenedorImpresion{
    grid-area: impresion;
}
#contenedorClima{
    grid-area: clima;
    border: 5px solid rgb(0, 179, 255); 
    background-color: rgb(155, 198, 216); 
    border-radius: 10px;
    padding: 10px;
    margin: 10px; 
}
main{
    display: grid;
    grid-template-areas:
    "form botones"
    "impresion clima"
}